//Width
$xl: 1150px;
$lg: 970px;
$md: 730px;
$sm: 550px;
$xs: 320px;

//Styles
$font_size:18px;
$font_family:'Gilroy-400';


//COLORS
$white:#fff;
$black:#000;
$dark:#333333;
$border_color:#D6D6D6;
$bg_color:#e5e5e5;